*.DS_Store
__pycache__

data/**/*.csv
data/**/*.jpg
data/**/*.gif
!data/smk.gif
data/**/*.avi
data/**/*.mp4
data/**/*.blend
data/**/*.obj
!data/**/figure_3_knots/**/*.obj
data/**/figures/*.png
data/**/figures/*.pdf
data/**/blender_plots/**/*.png
data/**/blender_plots/**/*.sh

data/simulations/configs/*.yaml
!data/simulations/configs/multi.yaml
!data/simulations/configs/cm_75_opt.yaml
!data/simulations/configs/cm_75_base.yaml


